*:focus{
  outline: none;
}
/*NAVBAR*/
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Georgia, Garamond, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  list-style: none;
}
:root{
  --bg-color: #FFFFFF;
  --text-color1: #DDC0B4;
  --text-color2: #9D8980;
  --text-color3:#A17869;
  --main-color: #FAEBD7;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x:hidden;
}
/*NAVBAR*/
header{
  width: 100%;
  position: absolute;
  top: 0; left: 0; right: 0;
  background: var(--bg-color);
  padding: 0.5rem 0rem ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.logo{
  display: absolute;
  height: 480%;
  width: 150px;
  cursor: pointer;
  margin-left: 10rem;

}

.navbar{
  display: flex;
  margin-left: 55rem;
  margin-top: 2rem;
  
}
.navbar a{
font-size: 1.5rem;
padding: 0 1.5rem;
color: var(--text-color2);
}

.navbar a:hover{
  color: var(--text-color1)
}

.navbar a.active{
  font-weight: 700;
  color: var(--text-color1)
}

.icons{
  margin-right: 10rem;
  display: flex;

  text-decoration: none;
}
.icons a{
  font-size: 2.5rem;
  color: var(--text-color2);
  margin-left: 1rem;
  text-decoration: none;
  margin-right: 1rem;
}

.icons a:hover{
  color: var(--text-color1);
}

/*FORM*/
body{
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
}

.form{
  width: 600px;
  height: auto;
  color: #97694F;
  background: rgba(255, 253, 231, 0.4) ;
  border-radius: 10px;
  margin-top: 65px;
}

.heading1{
  opacity: 0;
  text-transform: capitalize;
  text-align: center;
  font-size: 70px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 20px;
}

input,
.submit-btn{
  opacity: 0;
  width: 90%;
  height: 30px;
  align-items: center;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  background: rgb(229, 229, 225) ;
  border: none;
  color: rgb(93, 37, 37);
  padding: 15px;
  transition: .5s;
  text-transform: capitalize;
}

input::placeholder{
  color: #7f4040;
}

input:focus
.submit-btn:hover{
  background: #fff;
  color: var(--text-color2);
}

input:focus::placeholder{
  color: rgb(100, 97, 97);
}

.tag{
  margin-left: 23px;
  margin-bottom: -15px;
}

.submit-btn {
  width: auto;
  padding: 0 20px;
  cursor: pointer;
  margin: 50px auto 0;
  color: #7f4040;
  margin-top: 10px;
}

.submit-btn:hover{
  background-color: var(--text-color1);
  font-weight: bold;
}

.lah p{
  text-align: center;
  margin-top: 4rem;
  font-size: 1.9rem;
  color: #7f4040;
  margin-bottom: 3rem;
}

.lah a{
  color:  #362222;
}
.lah a:hover{
  color: #FFFFFF;
}


/* .lah .register-link a{
  opacity: 0;
  text-align:center;
  text-transform: capitalize;
  text-decoration: none;
  color: #7f4040;
  display: block;
  margin: 30px auto;
  font-size: medium;
}

.link a:hover{
  color: white;
} */


